*  {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%
}

body {
	width: 100%;
	height: 100%;
	color: #333;
	background: #F5F5F5;
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 100%;
}

header, .menu {
        display: flex; 
        justify-content: space-between;
        align-items: center;
}

@media (max-width: 1500px) {
        header, footer, .menu{
          flex-direction: column;
          align-items: flex-start;
          margin-left: 0;
        }
}

header nav:before {
        content: '';
        display: block;
        height: 50px;
        width: 100%;
        background: #000;
        position: absolute;
        left: 0;
        z-index: -1;
}

#authorization {
        border: solid 1px var;
        background-color: #20B2AA;
        font-weight: bold;
        border-radius: 20px;
        line-height: 30px;
        height: 30px;
        margin-top: 10px;
}

#logo {
	font-weight: bold;
	font-size: 40px;
}

ul {
        width: 1200px;
        margin-left: 330px;
        padding: 0;
        list-style: none;
}

@media (max-width: 1500px) {
        ul {
                margin: auto;
                width: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
        }
}

ul li {
        float: left;
}

header ul li a {
        color: white;
        display: block;
        height: 50px;
        padding: 0 10px;
        line-height: 50px;
        text-decoration: none;
}

header ul li a:hover {
        color: #20B2AA;
	text-decoration: none;
}

header ul li #authorization:hover {
        color: white;
}

.menu ul li a:hover {
        color: #20B2AA;
	text-decoration: none;
}

.footer_menu ul li a:hover {
        color: #20B2AA;
	text-decoration: none;
}

.footer_menu2 ul li a:hover {
        color: #20B2AA;
	text-decoration: none;
}

.social a:hover {
        color: #20B2AA;
	text-decoration: none;
}

.menu ul li a {
        color: black;
        display: block;
        height: 50px;
        padding: 0 10px;
        line-height: 50px;
        text-decoration: none;
}

.menu a.blogs {	
	font-weight: bold;
	color:#20B2AA;
}

.footer_menu a.blogs {	
	font-weight: bold;
	color:#20B2AA;
}

.right_buttoms {     
        float: right; 
}


.container {
        flex-wrap: wrap;
        flex-flow: row wrap;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 1200px;
        margin-left: 330px;
}

@media (max-width: 1500px) {
        .container {
                flex-wrap: wrap;
                flex-flow: row wrap;
                display: flex;
                justify-content: center;
                align-content: center;
                width: auto;
                margin-left: auto;
        }
}

.container div {
        float: left;
        margin: 10px;
        height: 400px;
        text-align: center;
        background-color: white;
}

.container h3 {
	color: #FE4444;
	font-size: 1em;
	font-weight: bold;
}

.container a {
        text-decoration: none;
}

.container p {
	font-weight: bold;
        color: black;
} 

.container a p:hover {
        color: #20B2AA;
	text-decoration: none;
}
#more_articles button {
        font-weight: bold;
        font-size: 20px;
        border-radius: 40px;
        border: none;
        height: 50px;
        background: #20B2AA;
        color: white;
        width: 200px;
        cursor: pointer;
}

footer {
        height: 550px;
        background-color: #333; 
        align-items: center;
        text-align: center;
}

.e-mail {
        width: 100%;
        height: 250px;
        background-image: url(img/2.png);
        background-size: 100% 100%;
        display: flex;
        justify-content: center; 
}

.e-mail ul {
        position: relative; 
        top: 60px;
        margin: 0%;
}

.e-mail ul li {
        float: none;
        display: flex;
        justify-content: center;
}

#e-mail_head {
        position: relative;
        font-size: 30px;
        color: white;
        text-align: center;
        font-weight: bold;
} 

#e-mail_input {
        position: relative;
        width: 350px;
        height: 40px;
        border: none;
        font-size: 14px;
}

#e-mail_text {
        position: relative;
        font-size: 15px;
        text-align: center;
        color: white;
        width: 400px;
}

.e-mail button {
        border: none;
        background: white;
        color: #20B2AA;
        width: 50px;
        height: 40px;
        cursor: pointer;
}

.footer_menu ul {
        position: relative;
        display: flex;
        justify-content: center;
}

.footer_menu ul li a {
        position: relative;
        color: white;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        text-decoration: none;
}


.footer_menu2 ul {
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
}

.footer_menu2 ul li a {
        position: relative;
        color: grey;
        text-decoration: none;
        padding: 0 10px;
        line-height: 30px;
}

.social a {
        color: white;
        border: solid 1px grey;
        border-radius: 50%;
        padding: 15px;
}

#copyright { 
        top: 20px;
        color: white;
}