*  {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%
}

body {
	width: 100%;
	height: 100%;
	color: #333;
	background: #F5F5F5;
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 100%;
}

header, .menu {
        display: flex; 
        justify-content: space-between;
        align-items: center;
}

@media (max-width: 1500px){
        header, footer, .menu{
          flex-direction: column;
          align-items: flex-start;
          margin-left: 0;
        }
}

header nav:before {
        content: '';
        display: block;
        height: 50px;
        width: 100%;
        background: #000;
        position: absolute;
        left: 0;
        z-index: -1;
}

#logo {
	font-weight: bold;
	font-size: 40px;
}

ul {
        width: 1200px;
        margin-left: 330px;
        padding: 0;
        list-style: none;
}

@media (max-width: 1500px){
        ul {
                margin: auto;
                width: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
        }
}

ul li {
        float: left;
}

header ul li a {
        color: white;
        display: block;
        height: 50px;
        padding: 0 10px;
        line-height: 50px;
        text-decoration: none;
}

header ul li a:hover {
        color: #62EDC7;
	text-decoration: none;
}

.menu ul li a:hover {
        color: #62EDC7;
	text-decoration: none;
}

.footer_menu ul li a:hover {
        color: #62EDC7;
	text-decoration: none;
}

.footer_menu2 ul li a:hover {
        color: #62EDC7;
	text-decoration: none;
}

.social a:hover {
        color: #62EDC7;
	text-decoration: none;
}

.menu ul li a {
        color: black;
        display: block;
        height: 50px;
        padding: 0 10px;
        line-height: 50px;
        text-decoration: none;
}

.menu a.blogs {	
	font-weight: bold;
	color:#62EDC7;
}

.footer_menu a.blogs {	
	font-weight: bold;
	color:#62EDC7;
}

.right_buttoms {     
        float: right; 
}

.container-1 {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
}

.container-1 div {
        float: left; 
        margin: 10px;
        height: 400px;
        text-align: center;
        background-color: white;
}

.container-1 h3 {
	color: #FE4444;
	font-size: 1em;
	font-weight: bold;
}

.container-1 a {
        text-decoration: none;
}

.container-1 p {
	font-weight: bold;
        color: black;
} 

.container-1 a p:hover {
        color: #62EDC7;
	text-decoration: none;
}

.container-2 {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
}

.container-2 div {
        float: left; 
        background-color: white;
        margin: 10px;
        height: 400px;
        text-align: center;
}

.container-2 h3 {
	color: #FE4444;
	font-size: 1em;
	font-weight: bold;
}

.container-2 a {
        text-decoration: none;
}

.container-2 p {
	font-weight: bold;
        color: black;
} 

.container-2 a p:hover {
        color: #62EDC7;
	text-decoration: none;
}

.container-3 {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
}

.container-3 div {
        float: left; 
        background-color: white;
        margin: 10px;
        height: 400px;
        text-align: center;
}

.container-3 h3 {
	color: #FE4444;
	font-size: 1em;
	font-weight: bold;
}

.container-3 a {
        text-decoration: none;
}

.container-3 p {
	font-weight: bold;
        color: black;
} 

.container-3 a p:hover {
        color: #62EDC7;
	text-decoration: none;
}

footer {
        height: 500px;
        background-color: #333; 
        align-items: center;
        text-align: center;
}

.e-mail {
        width: 100%;
        height: 250px;
        background-image: url(img/2.png);
        background-size: 100% 100%;
        display: flex;
        justify-content: center; 
}

.e-mail ul {
        position: relative; 
        top: 60px;
        margin: 0%;
}

.e-mail ul li {
        float: none;
        display: flex;
        justify-content: center;
}

#e-mail_head {
        position: relative;
        font-size: 30px;
        color: white;
        text-align: center;
        font-weight: bold;
} 

#e-mail_input {
        position: relative;
        width: 350px;
        height: 30px;
}

#e-mail_text {
        position: relative;
        font-size: 15px;
        text-align: center;
        color: white;
        width: 400px;
}

#e-mail_text button {
        position: absolute;
}

.footer_menu ul {
        position: relative;
        display: flex;
        justify-content: center;
}

.footer_menu ul li a {
        position: relative;
        color: white;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        text-decoration: none;
}


.footer_menu2 ul {
        position: relative;
        display: flex;
        justify-content: center;
        display: inline-block;
}

.footer_menu2 ul li a {
        position: relative;
        color: grey;
        text-decoration: none;
        padding: 0 10px;
        line-height: 30px;
}

.social a {
        display: inline;
        color: white;
        padding: 5px;
}

#copyright {
        color: white;
}